<!-- navbar.component.html -->
<mat-toolbar color="primary">
    <div class="container">
      <a class="navbar-brand" routerLink="">
        
        Bon Voyage Travel
      </a>
      <span class="spacer"></span>
      <nav>
        <a mat-button routerLink="">Home </a>
        <a mat-button routerLink="/packages">Packages</a>
        <a mat-button routerLink="/mybookings">My Bookings</a>
        <a mat-button routerLink="/mywishlist">Wishlists</a>
        <a mat-button routerLink="/admin">Admin Dashboard</a>
        <a mat-button routerLink="/faq">FAQ</a>
        <a mat-button routerLink="/signin">sign-in</a>
        <a mat-button routerLink="/signup">sign-up</a>
      </nav>
    </div>
  </mat-toolbar>
  