/* navbar.component.css */
.container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(110, 224, 94);
  }
  
  .navbar-brand img {
    margin-right: 10px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  nav a {
    color: rgb(0, 0, 0);
    margin-left: 20px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #3be8ff; /* Example hover color */
  }
  