<div class="all-package-container">

  @for(package of packageList.data; track $index){
    <div class="card">
      <img src={{package.packageImage}} alt="Havana"  onerror="this.onerror=null; this.src='https://st2.depositphotos.com/3837271/5507/i/450/depositphotos_55072853-stock-photo-time-to-travel-wooden-sign.jpg';">
      <div class="card-info">
        <p class="pack-name">{{package.packageName}}</p>
        <p class="pack-price">from {{package.packagePrice}} per/Package</p>
        <p>{{package.packageCity}}</p>
        <p class="desc">
          {{package.packageDesc}}
        </p>
        <a [routerLink]="['/package', package.packageID]"><button class="btn-details">View Details
            <mat-icon>arrow_right_alt</mat-icon></button></a>
      </div>
    </div>
  }
  

</div>