<div class="all-package-container">

    <div class="card">
        <img src="img/img2.jpg" alt="Havana">
        <div class="card-info">
          <p class="pack-name">Havana</p>
          <p class="pack-price">from ₹599 per/Package</p>
          <p>North America</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam, fugiat nemo sed corrupti debitis omnis nostrum. Odio, maxime. Eum similique fugiat ut officia ex odit, autem ducimus quibusdam in.
          </p>
          <a routerLink="/package"><button class="btn-details">View Details <mat-icon>arrow_right_alt</mat-icon></button></a>
        </div>
      </div><div class="card">
        <img src="img/img2.jpg" alt="Havana">
        <div class="card-info">
          <p class="pack-name">Havana</p>
          <p class="pack-price">from ₹599 per/Package</p>
          <p>North America</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam, fugiat nemo sed corrupti debitis omnis nostrum. Odio, maxime. Eum similique fugiat ut officia ex odit, autem ducimus quibusdam in.
          </p>
          <a routerLink="/package"><button class="btn-details">View Details <mat-icon>arrow_right_alt</mat-icon></button></a>
        </div>
      </div><div class="card">
        <img src="img/img2.jpg" alt="Havana">
        <div class="card-info">
          <p class="pack-name">Havana</p>
          <p class="pack-price">from ₹599 per/Package</p>
          <p>North America</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam, fugiat nemo sed corrupti debitis omnis nostrum. Odio, maxime. Eum similique fugiat ut officia ex odit, autem ducimus quibusdam in.
          </p>
          <a routerLink="/package"><button class="btn-details">View Details <mat-icon>arrow_right_alt</mat-icon></button></a>
        </div>
      </div><div class="card">
        <img src="img/img2.jpg" alt="Havana">
        <div class="card-info">
          <p class="pack-name">Havana</p>
          <p class="pack-price">from ₹599 per/Package</p>
          <p>North America</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam, fugiat nemo sed corrupti debitis omnis nostrum. Odio, maxime. Eum similique fugiat ut officia ex odit, autem ducimus quibusdam in.
          </p>
          <a routerLink="/package"><button class="btn-details">View Details <mat-icon>arrow_right_alt</mat-icon></button></a>
        </div>
      </div><div class="card">
        <img src="img/img2.jpg" alt="Havana">
        <div class="card-info">
          <p class="pack-name">Havana</p>
          <p class="pack-price">from ₹599 per/Package</p>
          <p>North America</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam, fugiat nemo sed corrupti debitis omnis nostrum. Odio, maxime. Eum similique fugiat ut officia ex odit, autem ducimus quibusdam in.
          </p>
          <a routerLink="/package"><button class="btn-details">View Details <mat-icon>arrow_right_alt</mat-icon></button></a>
        </div>
      </div><div class="card">
        <img src="img/img2.jpg" alt="Havana">
        <div class="card-info">
          <p class="pack-name">Havana</p>
          <p class="pack-price">from ₹599 per/Package</p>
          <p>North America</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam, fugiat nemo sed corrupti debitis omnis nostrum. Odio, maxime. Eum similique fugiat ut officia ex odit, autem ducimus quibusdam in.
          </p>
          <a routerLink="/package"><button class="btn-details">View Details <mat-icon>arrow_right_alt</mat-icon></button></a>
        </div>
      </div><div class="card">
        <img src="img/img2.jpg" alt="Havana">
        <div class="card-info">
          <p class="pack-name">Havana</p>
          <p class="pack-price">from ₹599 per/Package</p>
          <p>North America</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam, fugiat nemo sed corrupti debitis omnis nostrum. Odio, maxime. Eum similique fugiat ut officia ex odit, autem ducimus quibusdam in.
          </p>
          <a routerLink="/package"><button class="btn-details">View Details <mat-icon>arrow_right_alt</mat-icon></button></a>
        </div>
      </div><div class="card">
        <img src="img/img2.jpg" alt="Havana">
        <div class="card-info">
          <p class="pack-name">Havana</p>
          <p class="pack-price">from ₹599 per/Package</p>
          <p>North America</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam, fugiat nemo sed corrupti debitis omnis nostrum. Odio, maxime. Eum similique fugiat ut officia ex odit, autem ducimus quibusdam in.
          </p>
          <a routerLink="/package"><button class="btn-details">View Details <mat-icon>arrow_right_alt</mat-icon></button></a>
        </div>
      </div><div class="card">
        <img src="img/img2.jpg" alt="Havana">
        <div class="card-info">
          <p class="pack-name">Havana</p>
          <p class="pack-price">from ₹599 per/Package</p>
          <p>North America</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam, fugiat nemo sed corrupti debitis omnis nostrum. Odio, maxime. Eum similique fugiat ut officia ex odit, autem ducimus quibusdam in.
          </p>
          <a routerLink="/package"><button class="btn-details">View Details <mat-icon>arrow_right_alt</mat-icon></button></a>
        </div>
      </div><div class="card">
        <img src="img/img2.jpg" alt="Havana">
        <div class="card-info">
          <p class="pack-name">Havana</p>
          <p class="pack-price">from ₹599 per/Package</p>
          <p>North America</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam, fugiat nemo sed corrupti debitis omnis nostrum. Odio, maxime. Eum similique fugiat ut officia ex odit, autem ducimus quibusdam in.
          </p>
          <a routerLink="/package"><button class="btn-details">View Details <mat-icon>arrow_right_alt</mat-icon></button></a>
        </div>
      </div><div class="card">
        <img src="img/img2.jpg" alt="Havana">
        <div class="card-info">
          <p class="pack-name">Havana</p>
          <p class="pack-price">from ₹599 per/Package</p>
          <p>North America</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam, fugiat nemo sed corrupti debitis omnis nostrum. Odio, maxime. Eum similique fugiat ut officia ex odit, autem ducimus quibusdam in.
          </p>
          <a routerLink="/package"><button class="btn-details">View Details <mat-icon>arrow_right_alt</mat-icon></button></a>
        </div>
      </div><div class="card">
        <img src="img/img2.jpg" alt="Havana">
        <div class="card-info">
          <p class="pack-name">Havana</p>
          <p class="pack-price">from ₹599 per/Package</p>
          <p>North America</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam, fugiat nemo sed corrupti debitis omnis nostrum. Odio, maxime. Eum similique fugiat ut officia ex odit, autem ducimus quibusdam in.
          </p>
          <a routerLink="/package"><button class="btn-details">View Details <mat-icon>arrow_right_alt</mat-icon></button></a>
        </div>
      </div><div class="card">
        <img src="img/img2.jpg" alt="Havana">
        <div class="card-info">
          <p class="pack-name">Havana</p>
          <p class="pack-price">from ₹599 per/Package</p>
          <p>North America</p>
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam, fugiat nemo sed corrupti debitis omnis nostrum. Odio, maxime. Eum similique fugiat ut officia ex odit, autem ducimus quibusdam in.
          </p>
          <a routerLink="/package"><button class="btn-details">View Details <mat-icon>arrow_right_alt</mat-icon></button></a>
        </div>
      </div>
      
  </div>
  