<section>
    <div class="package-img"></div>
    <div class="package-container">
        <div class="info-container">
            <div class="package-name-disc">
                <h2>Havana</h2>
                <h6>Havan, Cuba</h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel laborum, delectus eum magni, autem
                    dolore iusto quia, reiciendis repellendus aut doloremque. Quaerat reiciendis voluptates, culpa ipsum
                    omnis dolorum incidunt tenetur!</p>

            </div>
            <div class="package-info">
                <h3>Highlights</h3>
                <div class="days-container">
                    <div class="day1 day">
                        <p class="dayNo">DAY 1</p>
                        <p class="dayTask">REST DAY</p>
                    </div>
                    <div class="day1 day">
                        <p class="dayNo">DAY 2</p>
                        <p class="dayTask"> Habana Classic City Tour – Old Havana and its fortifications are a UNESCO
                            World Heritage site. Join us on this tour to experience the majesty of colonial Havana. </p>
                    </div>
                    <div class="day1 day">
                        <p class="dayNo">DAY 1</p>
                        <p class="dayTask">REST DAY</p>
                    </div>
                    <div class="day1 day">
                        <p class="dayNo">DAY 2</p>
                        <p class="dayTask"> Habana Classic City Tour – Old Havana and its fortifications are a UNESCO
                            World Heritage site. Join us on this tour to experience the majesty of colonial Havana. </p>
                    </div>
                    <div class="day1 day">
                        <p class="dayNo">DAY 1</p>
                        <p class="dayTask">REST DAY</p>
                    </div>
                    <div class="day1 day">
                        <p class="dayNo">DAY 2</p>
                        <p class="dayTask"> Habana Classic City Tour – Old Havana and its fortifications are a UNESCO
                            World Heritage site. Join us on this tour to experience the majesty of colonial Havana. </p>
                    </div>
                    <div class="day1 day">
                        <p class="dayNo">DAY 1</p>
                        <p class="dayTask">REST DAY</p>
                    </div>
                    <div class="day1 day">
                        <p class="dayNo">DAY 2</p>
                        <p class="dayTask"> Habana Classic City Tour – Old Havana and its fortifications are a UNESCO
                            World Heritage site. Join us on this tour to experience the majesty of colonial Havana. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="package-order">
            <div>
                <p class="head-details">User Name:</p>
                <p>Gurpreet Singh</p>
            </div>
            <div>
                <p class="head-details">Package Name:</p>
                <p>Havan, Cuba</p>
            </div>
            <div>
                <p class="head-details">Package price:</p>
                <p>$1000</p>
            </div>
            
            <div>
                <p class="head-details">Package price:</p>
                <p>$1000</p>
            </div>
            <div>
                <p class="head-details">Name:</p>
                <p>Gurpreet Singh</p>
            </div>
            <div>
                <p class="head-details">Package price:</p>
                <p>$1000</p>
            </div>
            <button>Book Now</button>
        </div>
    </div>


</section>