
.package-img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}
.package-container{
    padding: 10px;
    display: flex;
    gap:2%;
}
.package-name-disc
{
    width: 80%;
    padding: 30px 30px 10px 30px;
    border-bottom: 4px dotted rgb(200, 200, 0);
}
.package-info{
    width: 50%;
    padding: 30px 30px 10px 30px;
}
.day{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dayNo{
    font-weight: bold;
}
.dayTask{
    width: 70%;
}
.info-container{
    width: 70%;
}
.package-order
{
    height: 100%;
    margin-top: 30px;
    width: 35%;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.package-order-details,.package-order-form{
    background-color: #1d184c;
    padding: 20px;
}
.booking-form>div{
    display: flex;
    justify-content: start;
    padding-bottom: 20px;
}
.booking-form>div>label{
    width: 40%;
    text-align: start;

}
.booking-form>div>input{
    width: 100%;
    padding: 10px;
}
.package-order-details>div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.package-order-details>button,.booking-form>button{
    width: 90%;
    cursor: pointer;
    padding: 15px 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.package-order>button:hover{
    background-color:rgb(206, 206, 0) ;
}
.head-details{
    font-weight: bold;
}
@media (max-width: 858px) {
    
    .package-img{
        height: 30vh;
        
    }
    .package-container{
        font-size: 0.8rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .info-container,.package-info,.package-name-disc{
        width: 100%;
    }
    .package-order{
        width: 90%;
        flex-direction: column-reverse;
    }
}