.hero {
    background: url('../../../../public/img/bgimg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
  }
  .hero-content {
    max-width: 600px;
  }
  .btn-primary {
    background-color: #d4d231;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    transition: 500ms all ease;
  }
  .btn-primary:hover{
    background-color: #134881;
    padding: 15px 25px;
    border-radius: 10px;
  }
  .search-bar {
    margin-top: 20px;
  }
  .search-bar input {
    width: 70%;
    padding: 10px;
  }
  .recommended-location {
    margin-top: 10px;
  }
  .btn-secondary {
    background-color: #0066cc;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .steps {
    padding: 50px 20px;
    text-align: center;
  }
  .steps h2 {
    margin-bottom: 20px;
  }
  .step-cards {
    display: flex;
    justify-content: center;
  }
  .step-card {
    margin: 10px;
    text-align: center;
  }
  .icon {
    font-size: 36px;
    color: #00aaff;
  }
  
  .social-media a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
  }
  .example-card {
    max-width: 400px;
    margin-bottom: 8px;
  }
  .info-section {
    text-align: center;
    margin: 40px 0;
  }
  
  .info-section h2 {
    color: #FFA500; 
    margin-bottom: 10px;
  }
  
  .info-section h3 {
    color: #000;
    margin-bottom: 30px;
  }
  
  .info-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
  }
  
  .info-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
  }
  
  .info-card h4 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .icon {
    font-size: 40px;
    color: #007BFF; 
  }
  

  .popular-destinations {
    text-align: center;
    margin: 20px 0;
  }
  
  .popular-destinations h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .destinations {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .destination-card {
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .destination-card:hover {
    transform: scale(1.05);
  }
  
  .destination-card img {
    width: 100%;
  height: 200px; 
  object-fit: cover;
  }
  
  .destination-card h3 {
    font-size: 1.2rem;
    margin: 10px 0 5px;
  }
  
  .destination-card p {
    margin: 0;
    color: gray;
  }
  
   .travel-tips {
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
  }
  .tips {
    display: flex;
    justify-content: center;
  }
  .tip-card {
    margin: 10px;
    text-align: center;
  }
  .tip-card img {
    width: 100%;
    max-width: 200px;
  }
  .travel-card{
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  /* About Us Section */
.about-us {
  padding: 50px 20px;
  text-align: center;
  background-color: #f8f8f8;
}
.about-us h2 {
  margin-bottom: 20px;
  color: #333;
}
.about-content {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 80px;
}
.about-text {
  flex: 1;
  min-width: 300px; 
  max-width:800px;
  width: 50%;
  text-align: left;
}
.about-image {
  flex: 1;
  width: 100%;
}
img {
  height: 400px;
  border-radius: 8px;
}

@media (max-width:640px) {
  .about-text{
    margin: 0;
  }
  img{
    width: 100%;
  }
}