
<div class="hero">
    <div class="hero-content">
      <h1>Unlock your next adventure with seamless travel planning</h1>
      <button class="btn-primary" routerLink="/packages">View Packages</button>
     
    </div>
  </div>
 
        <div class="info-section">
           
            <h3>Your gateway to seamless journeys and <br> unforgettable adventures</h3>
            <div class="info-cards">
              <div class="info-card">
                <i class="icon fas fa-question-circle"></i>
                <mat-icon>flag</mat-icon>
                <h4>Tell Us What You Want To Do</h4>
              </div>
              <div class="info-card">
                <i class="icon fas fa-map-marker-alt"></i>
                <mat-icon>location_on</mat-icon>
                <h4>Share Your Travel Locations</h4>
              </div>
              <div class="info-card">
                <i class="icon fas fa-plane-departure"></i>
                <mat-icon>directions_walk</mat-icon>
                <h4>Share Your Travel Preference</h4>
              </div>
              <div class="info-card">
                <i class="icon fas fa-check-circle"></i>
                <mat-icon>verified</mat-icon>
                <h4>We Are Trusted Agency</h4>
              </div>
            </div>
          </div>


   <div class="popular-destinations">
            <h2 style="margin-right: 950px;">Popular Destinations</h2>
            <div class="destinations">
              <mat-card class="destination-card">
                <img mat-card-image src="https://images.pexels.com/photos/51363/london-tower-bridge-bridge-monument-51363.jpeg?auto=compress&cs=tinysrgb&w=600" alt="UK - London" />
                <mat-card-content>
                  <h3>UK</h3>
                  <p>London</p>
                </mat-card-content>
              </mat-card>
              <mat-card class="destination-card">
                <img mat-card-image src="https://images.pexels.com/photos/133614/pexels-photo-133614.jpeg?auto=compress&cs=tinysrgb&w=600" alt="UK - London" />
                <mat-card-content>
                  <h3>UK</h3>
                  <p>London</p>
                </mat-card-content>
              </mat-card>
              <mat-card class="destination-card">
                <img mat-card-image src="https://images.pexels.com/photos/161853/eiffel-tower-paris-france-tower-161853.jpeg?auto=compress&cs=tinysrgb&w=600" alt="France - Paris" />
                <mat-card-content>
                  <h3>France</h3>
                  <p>Paris</p>
                </mat-card-content>
              </mat-card>
              <mat-card class="destination-card">
                <img mat-card-image src="https://images.pexels.com/photos/2845013/pexels-photo-2845013.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Australia - Sydney" />
                <mat-card-content>
                  <h3>Australia</h3>
                  <p>Sydney</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          
  
 
<div class="about-us">
  <h2>Explore Your Life, Travel Where You Want!</h2><br><br>
  
  <div class="about-content">
    <div class="about-text">
     <h3 style="text-align: center;">About us</h3>
      <p>
        At BonVoyage, we think that every travel is a story worth telling and that the world is designed to be experienced. We're here to motivate, direct, and enhance your travel adventures whether you're a seasoned traveler or a first-timer.
      </p>
      <p>
        In order to help you get the most out of your visits, we have carefully selected a wide selection of articles, guides, and recommendations. We're committed to transforming into the extraordinary anywhere in the world, whether it be in quiet retreats off the main track or tucked away treasures in crowded metropolises, explorers with a common passion for exploring uncharted territory.
      </p>
      <p>
        So, BonVoyage is your go-to source whether you're organizing your next big adventure or just seeking for ideas. Join us as we decipher...
      </p>
    </div>
      <img src="https://images.pexels.com/photos/3569263/pexels-photo-3569263.jpeg?auto=compress&cs=tinysrgb&w=600" alt="About Us Image" />
  
  </div>
</div>

  
  