.faq-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: rgb(131, 131, 203);
}
.img{
    width: 45.5%;
    position: relative;
    margin-bottom: -5%;
    z-index: 5;

}
h1{
    font-weight: bold;
}
h2{
    font-weight: 500;
}

.img>img{
    width: 100%;
    
}

.faq-box{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq-body{
    margin: 0;
    z-index: 0;
}
mat-accordion{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
mat-expansion-panel{
    background-color: rgb(23, 23, 63);
    border-radius: 50px !important;
    padding: 14px 30px;
}
mat-panel-title{
    color: white !important;

}

.ans-faq{
    color: white;
}
@media (max-width: 768px)  {
    .faq-container{
        font-size: 0.8rem !important;
        text-align: center;
        flex-direction: column;
    }
    .faq-box{
        width: 80%;
    }
}